<div id="content">
  <div>
    <img
      src="../../assets/profile-picture-default.jpeg"
      alt="Profile Picture"
      class="profile-picture"
    />
    <h1>Profile Name</h1>
  </div>
  <div>
    <textarea placeholder="Profile Description" readonly></textarea>
  </div>
  <div>
    <span>Status:</span>
    <span>Profile Status</span>
  </div>
  <div>
    <span>Registered since:</span>
    <input type="date" readonly />
  </div>
  <div>
    <span>Total Posts:</span>
    <span>42</span>
  </div>
  <div>
    <span>Total Comments:</span>
    <span>42</span>
  </div>
  <div>
    <button></button>
  </div>
</div>
