<div>
    <div>
        <img src="#" alt="Profile Picture">
    </div>
    <div>
        <h1>Profile Name</h1>
        <textarea placeholder="Profile Description"></textarea>
        <div>
            <h2>Status:</h2>
            <p>Profile Status</p>
        </div>
        <div>
            <p>Registered since: </p>
            <input type="date" readonly>
        </div>
        <div>
            <div>
                <p>Total Posts: </p>
                <p></p>
            </div>
            <div>
                <p>Total Comments: </p>
                <p></p>
            </div>
        </div>
    </div>
</div>