<div>
    <div id="examplePost">
        <div>
            <input type="text" name="postLikes" id="postLikes" value="42" readonly>
            <p>Likes</p>
        </div>
        <div>
            <p id="username">Username</p>
            <input type="date" readonly name="postDate" id="postDate">
        </div>
        <div>
            <textarea name="post" id="post" readonly>Post placeholder</textarea>
        </div>
        <div>
            <input type="text" readonly value="42">
            <p>Comments</p>
        </div>
    </div>
</div>