<div id="content">
    <div>
      <label for="profilePicture">Picture</label>
      <input type="file" id="profilePicture" name="profilePicture">
    </div>
    <div>
        <label for="profileName">Name</label>
        <input type="text" id="profileName" name="profileName">
    </div>
    <div>
      <textarea placeholder="Profile Description"></textarea>
    </div>
    <div>
      <label for="profileStatus">Status</label>
      <input type="text" id="profileStatus" name="profileStatus">
    </div>
</div>
  