<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <h1>Login</h1>
  <div id="email">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
        name="email"
      />
      <mat-error *ngIf="loginForm.get('email')?.invalid">{{ errorMessage }}</mat-error>
    </mat-form-field>
  </div>
  <div id="password">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input 
        matInput 
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
        name="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="example-button-row">
    <button mat-flat-button type="submit">Login</button>
  </div>
</form>
