<div class="navbar">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Home</a>
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Register</a>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Login</a>
    <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Profile</a>
    <a routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Create Post</a>
</div>