<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    Home
  </button>
  <button mat-menu-item routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
    Register
  </button>
  <button mat-menu-item routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
    Login
  </button>
  <button mat-menu-item routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
    Profile
  </button>
</mat-menu>
  