#content {
  background-color: #e1e1e1;
  color: #302f2f;
  width: 400px;
  height: 100%;
}

legend {
  font-size: 30px;
  padding-top: 10px;
}

span {
  margin-right: 10px;
}

form {
  padding: 10px;
}

label {
  margin-right: 10px;
}

div {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  background-color: white;
  color: #302f2f;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
