<div id="content">
  <form id="content">
    <legend>Edit profile</legend>
    <div class="picture-container">
      <label for="profilePicture">Picture</label>
      <input type="file" id="profilePicture" name="profilePicture" />
    </div>
    <div class="name-container">
      <label for="profileName">Name</label>
      <input type="text" id="profileName" name="profileName" />
    </div>
    <div class="profile-description-container">
      <textarea placeholder="Profile Description"></textarea>
    </div>
    <div class="status-container">
      <label for="profileStatus">Status</label>
      <input type="text" id="profileStatus" name="profileStatus" />
    </div>
  </form>
</div>
