<div>
    <div id="postDetail">
        <div>
            <p id="username">Username</p>
            <input type="date" readonly name="postDate" id="postDate">
        </div>
        <div>
            <textarea name="post" id="post" readonly>Post placeholder</textarea>
        </div>
    </div>
    <div id="exampleComment">
        <div>
            <p id="commentName">CommentName</p>
            <input type="date" readonly name="commentDate" id="commentDate">
        </div>
        <div>
            <textarea name="comment" id="comment" readonly>Comment placeholder</textarea>
        </div>
    </div>
</div>
