<form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <h1>Login</h1>
  <div id="username">
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input
        matInput
        placeholder="matt2024"
        [formControl]="username"
        (blur)="updateErrorMessage()"
        required
        name="username"
      />
    </mat-form-field>
  </div>
  <div id="email1">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email1"
        (blur)="updateErrorMessage()"
        required
        name="email1"
      />
      @if (email1.invalid) {
      <mat-error>{{ errorMessage }}</mat-error>
      }
    </mat-form-field>
  </div>
  <div id="email2">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email2"
        (blur)="updateErrorMessage()"
        required
        name="email2"
      />
      @if (email2.invalid) {
      <mat-error>{{ errorMessage }}</mat-error>
      }
    </mat-form-field>
  </div>
  <div id="password1">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div id="password2">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="example-button-row">
    <button mat-flat-button type="submit">Sign up</button>
  </div>
</form>
