<form class="register-form">
  <fieldset>
    <legend>Registration</legend>
    <div>
      <label for="firstName">First name:</label>
      <input type="text" name="firstName" required />
    </div>
    <div>
      <label for="lastName">Last name:</label>
      <input type="text" name="lastName" required />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" required />
    </div>
    <div>
      <label for="userName">User name:</label>
      <input type="text" name="userName" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" required />
    </div>
    <button type="submit" class="submit-button">Submit</button>
  </fieldset>
</form>
